<header>
    <div class="navbar navbar-dark bg-info shadow-sm">
        <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Infomation</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </div>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Hello and welcome to my website. This website's server side language is running on node.js and is 
                deployed on digital ocean. I am responsible for installation of the operating system on digital ocean and the configurations. 
                I am also looking into learing React.js.</p> <br> <p>This websites version is current 8.0</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
                <li><a href="https://github.com/Ramirez0245" class="text-white">Check out my GitHub</a></li>
                <li><a href="#" class="text-white">Email: Ramirez000245@gmail.om</a></li>
                <p class="text-white">Name: Omar Ramirez</p>
            </ul>
            </div>
        </div>
        </div>
    </div>
</header>

  






<h1 class="text-center mb-3">Welcome to the Home Page</h1>
<div class="container">
    <a href="/File" class="btn btn-light mt-4">Visit File app</a>
</div>

